.header {
    box-shadow: 0 2px 4px var(--border-color);
    padding: var(--mb-1) var(--mb-2);
    position: sticky;
    top: 0;
    z-index: var(--z-modal);
    height: 70px;
    background-color: var(--bg-color-primary);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-normal);
    text-decoration: none;
    text-transform: uppercase;
}

.header__logo-text{
    color: rgb(50, 158, 165);
}
.header__menu-toggle{
    display: none;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-left: var(--mb-2);
}

.header__menu-link {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-decoration: none;
}
.header__menu-link.active{
    color: rgb(50, 158, 165);
}

@media screen and (max-width: 768px){

    .header__menu-toggle{
        display: block;
        outline: none;
        border: none;
        background: transparent;
        font-size: var(--h1-font-size);
    }
    .header__nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 8px var(--border-color);
        
    }
    .header__nav--open{
        display: block;
    }
    .header__menu{
        justify-content: center;
        position: relative;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color-primary);
    }

    .header__menu-item{
        margin: 0;
    }

    .header__menu-link{
        font-size: var(--normal-font-size);
        text-decoration: none;
        padding: 1rem .8rem;
        display: block;
    }

    
}
@media screen and (max-width: 576px){

    /* .header__menu-link{
        padding: .8rem;
        font-size: .9rem;
    } */
    /* .header__menu{
        height: calc(100vh - 70px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color-primary);
    } */
    .header__menu-link:hover{
        margin-left: var(--mb-0-5);
        transition: .3s;
    }
}


@media screen and (max-width: 350px){
    .header{
        padding: var(--mb-1);
    }

    .header__menu-link{
        font-size: .8rem;
    }
}
