.skills__container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 1rem;
}

.skills_data{
    display: flex;
    column-gap: .5rem;
}

.skills .bx-badge-check{
    font-size: 1rem;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 1.2rem;
}

.skills__level{
    font-size: var(--tiny-font-size);
}

/* For large devices */
@media screen and (max-width: 992px){

    .skills__container{
        grid-template-columns: max-content;
    }
   
  }
  
  /* For medium devices */
  
  @media screen and (max-width: 576px){
    
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px){
   .skills__box{
    column-gap: 1.25rem;
   }
   .skills__name{
        font-size: var(--small-font-size);
   }
  
  }